<h2>Search</h2>

<p>Search our magnificent store.</p>

<form method="GET" action="/search">
              <!-- req.query.q -->
  <input type="search" name="q" placeholder="Search for something..." />
  <input type="hidden" name="source" value="chrome" />
              <!-- req.query.source -->
  <button>Search</button>
</form>
